* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

.input-text {
    border: 1px solid black;
}

.input-button {
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
}